<%- model_class = Interp -%>
<div class="page-header">
  <h2>Interpretação I</h2>
</div>

<div class="form-group">
  <div class="control-label col-lg-3" style="text-align:right;">
    <h5><strong>Número da Placa:</strong></h5>
  </div>
  <div class="control-label col-lg-3">
    <h5><%= @interp.board.identification %></h5>
  </div><br><br>
</div>

<div class="form-group">
  <div class="control-label col-lg-3" style="text-align:right;">
    <h5><strong>Feito por:</strong></h5>
  </div>
  <div class="control-label col-lg-4">
    <% if @interp.who.blank? %>
    <% else %>
      <h5><%= @interp.who %><i> em </i><%= @interp.when.strftime("%d %b %Y") %></h5>
    <% end %>
  </div><br>
</div>

<br><br>

<%= link_to 'Voltar para Etapas', phase_path(@interp.phase), :class => 'btn btn-default'  %>
<% if (@interp.who.blank?) || (@interp.who == current_user.username.titleize) %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_interp_path(@interp), :class => 'btn btn-info' %>
<% end %>