<%- model_class = Hibrid -%>
<div class="page-header">
  <h2>Hibridização</h2>
</div>

<div class="form-group">
  <div class="control-label col-lg-3" style="text-align:right;">
    <h5><strong>Número da Placa:</strong></h5>
  </div>
  <div class="control-label col-lg-3">
    <h5><%= @hibrid.board.identification %></h5>
  </div><br><br>
</div>

<div class="form-group">
  <div class="control-label col-lg-3" style="text-align:right;">
    <h5><strong>Feito por:</strong></h5>
  </div>
  <div class="control-label col-lg-4">
    <% if @hibrid.who.blank? %>
    <% else %>
      <h5><%= @hibrid.who %><i> em </i><%= @hibrid.when.strftime("%d %b %Y") %></h5>
    <% end %>
  </div><br>
</div>

<br><br>

<%= link_to 'Voltar para Etapas', phase_path(@hibrid.phase), :class => 'btn btn-default'  %>
<% if (@hibrid.who.blank?) || (@hibrid.who == current_user.username.titleize) %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_hibrid_path(@hibrid), :class => 'btn btn-info' %>
<% end %>