<%- model_class = Pcr -%>
<div class="page-header">
  <h2>Reação de PCR</h2>
</div>

<div class="form-group">
  <div class="control-label col-lg-3" style="text-align:right;">
    <h5><strong>Número da Placa:</strong></h5>
  </div>
  <div class="control-label col-lg-3">
    <h5><%= @pcr.board.identification %></h5>
  </div><br><br>
</div>

<div class="form-group">
  <div class="control-label col-lg-3" style="text-align:right;">
    <h5><strong>Feito por:</strong></h5>
  </div>
  <div class="control-label col-lg-4">
    <% if @pcr.who.blank? %>
    <% else %>
      <h5><%= @pcr.who %><i> em </i><%= @pcr.when.strftime("%d %b %Y") %></h5>
    <% end %>
  </div><br>
</div>

<br><br>

<%= link_to 'Voltar para Etapas', phase_path(@pcr.phase), :class => 'btn btn-default'  %>
<% if (@pcr.who.blank?) || (@pcr.who == current_user.username.titleize) %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pcr_path(@pcr), :class => 'btn btn-info' %>
<% end %>
