<%- model_class = Relat -%>
<div class="page-header">
  <h2>Relatório</h2>
</div>

<div class="form-group">
  <div class="control-label col-lg-3" style="text-align:right;">
    <h5><strong>Número da Placa:</strong></h5>
  </div>
  <div class="control-label col-lg-3">
    <h5><%= @relat.board.identification %></h5>
  </div><br><br>
</div>

<div class="form-group">
  <div class="control-label col-lg-3" style="text-align:right;">
    <h5><strong>Feito por:</strong></h5>
  </div>
  <div class="control-label col-lg-4">
    <% if @relat.who.blank? %>
    <% else %>
      <h5><%= @relat.who %><i> em </i><%= @relat.when.strftime("%d %b %Y") %></h5>
    <% end %>
  </div><br>
</div>

<br><br>

<%= link_to 'Voltar para Etapas', phase_path(@relat.phase), :class => 'btn btn-default'  %>
<% if current_user.supervisor? %>
  <% if (@relat.who.blank?) || (@relat.who == current_user.username.titleize) %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_relat_path(@relat), :class => 'btn btn-info' %>
  <% end %>
<% end %>