<%= form_for @report, :html => { :class => "form-horizontal report" } do |f| %>

  <% if @report.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@report.errors.count, "error") %> prohibited this phase from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @report.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="control-label col-lg-3">
      <h5><b>Número da Placa:</b></h5>
    </div>
    <div class="control-label col-lg-4" style="text-align:left">
      <h5><%= @report.board.identification %></h5>
    </div>
  </div>

  <br>

  <div class="form-group">
    <div class="control-label col-lg-3">
      <h5><b>Observações Finais:</b></h5>
    </div>
    <div class="col-lg-7">
      <%= f.text_area :detail, id: :report_detail, :class => 'form-control' %>
    </div>
  </div>

  <br><br>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-3">
      <%= f.submit 'Enviar', :class => 'btn btn-info' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reports_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
