<%- model_class = Report -%>
<div class="page-header">
  <h1>Relatório Finais <%= image_tag("logo_hla1.png", :alt => "Logo HLA-UERJ", :style => "float:right;") %></h1>
</div>

<div>
  <%= will_paginate @reports %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><h5><b>Número da Placa</b></h5></th>
      <th><h5><b>Última atualização das Etapas</b></h5></th>
      <th><h5><b>Última atualização dos Reagentes</b></h5></th>
      <th><h5><b>Status Observação Final</b></h5></th>
      <th><h5><b><%=t '.actions', :default => t("helpers.actions") %></b></h5></th>
    </tr>
  </thead>
  <tbody>
    <% for report in @reports %>
      <tr>
        <td><b><%= report.board.identification %></b></td>
        <td><%= report.phase.updated_at.to_s(:port) %></td>
        <td><%= report.reagent.updated_at.to_s(:port) %></td>
        <% if (report.detail.blank?) %>
          <td><strong>Nenhuma informação.</strong></td>
        <% else %>
          <td><strong>Relatório final enviado.</strong></td>
        <% end %>
        <td>
          <%= link_to 'Mostrar', report_path(report), :class => 'btn btn-default btn-sm' %>
          <%= link_to 'Adicionar Relatório', edit_report_path(report), :class => 'btn btn-info btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>